{% extends 'checker/base.html' %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center wrapper">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Добро пожаловать на проект "Анализатор кода" для компании Skyeng</h2>
                Нажмите ниже, чтобы загрузить файл и провести анализ вашего кода на наличие ошибок
            </div>
            <div class="d-grid col-6 mx-auto my-4">
                <a class="btn btn-success py-2 fs-3" href="{% url 'checker:files' %}">Загрузить файл</a>
            </div>
        </div>
    </div>
{% endblock %}