{% extends 'checker/base.html' %}
{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Перезаписать файл</h3>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'checker:update' object.id %}" method="post"
                                  class="col-10 d-block mx-auto">
                                {% csrf_token %}
                                <div id="wrap-drag" class="wrap-drag d-flex justify-content-center align-items-center">
                                    <img src="http://100dayscss.com/codepen/upload.svg" class="mx-auto d-block">
                                </div>
                                {{ form.file }}
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <div>Выберите файл или перетащите его сюда</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>

    <script>
        const wrapDrag = document.getElementById("wrap-drag");
        const fileInput = document.querySelector('input[type="file"]');
        const form = document.querySelector('form');

        wrapDrag.addEventListener("click", () => {
            fileInput.click();
        });

        fileInput.addEventListener("change", () => {
            const file = fileInput.files[0];
            const fileExtension = file.name.split(".").pop().toLowerCase();

            if (fileExtension !== "py") {
                alert("Acceptable file extensions: .py");
                return false;
            }

            const formData = new FormData(form);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', form.action);
            xhr.send(formData);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = 'http://' + window.location.host + '/files';
                }
            };
        });

        document.querySelector("#id_file").addEventListener("change", function () {
            var filename = this.value.split("\\").pop();
            document.getElementById("wrap-drag").innerHTML = filename;
        });
        Dropzone.autoDiscover = false;
        const myDropzone = new Dropzone(form, {
            url: form.action,
            {#method: "post",#}
            {#paramName: "file",#}
            maxFiles: 1,
            maxFilesize: 100,
            acceptedFiles: ".py",
            {#headers: {#}
            {#    "X-CSRFToken": csrfToken#}
            {# },#}
            dictDefaultMessage: "",
            init: function () {
                this.on("success", function () {
                    console.log("Файл успешно загружен!");
                    window.location.href = 'http://' + window.location.host + '/files';
                });
                this.on("error", function () {
                    console.error("Ошибка при загрузке файла!");
                });
                this.on("addedfile", function (file) {
                    file_name = file.name
                    document.querySelector("#wrap-drag").innerHTML = file_name;
                });
            }
        });
    </script>

{% endblock %}